@import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
}

body {
  background: #001133;
  color: #ff6600;
  font-family: 'Nunito', sans-serif;
}

header {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 600px;
}

.game-board-container {
  border: 2px solid #ff6600;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  margin-top: 25px;
  width: 100%;
}

.grid-item {
  align-items: center;
  border: 2px solid #ff6600;
  color: #ff6600;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
  height: 0;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 33.33%;
  text-align: center;
  width: 33.33%;
}

.game-over {
  display: flex;
  width: 100%;
}

.play-again {
  font-size: 25px;
  line-height: 25px;
  width: 50%;
}

button {
  background-color: #ff6600;
  border: 0;
  color: #001133;
  float: right;
  font-size: 25px;
  line-height: 25px;
  margin: 10px;
  padding: 15px;
}

input {
  border: 1px solid;
}

.credentials-menu {
  background-color: #FF6600;
  color: #001133;
  display: flex;
}
